
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.one-main{
    background: url(./background-1.svg) no-repeat center/cover ;
    height: 100vh;
    text-align: center;

    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "navbar";
}
.navbar{
        background-color: rgba(19, 18, 18, 0.253);
        grid-area: navbar;
        position: fixed;
        height: 100px;
        width: 100%;
        opacity: .5;
}
.one-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(224, 219, 219) ;
        width: 100%;
        height: 7rem;
        gap: 50rem;
        /* padding: 2rem; */
        background-color: transparent
}
.one-inner img{
    width: 8rem;
    color: transparent;
}
.one-menu a{
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
}
.one-menu a:hover{
    cursor: pointer;
    color: blueviolet;
}
.one-main h1{
    font-size: 5rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
    margin-top: 12rem;
}
.one-btn{
    display: flex;
    justify-content:center;
    gap: 2.5rem;
}
.one-btn img{
    width: 200px;
    margin-bottom: 10rem;
}
.feature-main{
    height: 100vh;
    font-family: sans-serif;
}
.feature-main h1{
        text-align: center;
        font-size: 50px;
        font-family:sans-serif;
        margin: 100px 50px;
        
}
.feature{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        gap: 3rem;
        margin: 0 50px;
        /* height: 100vh; */
}
.feature img{
    width: 190px;
    height: 190px;
}
.feature h6{
    margin-top: 2rem;
    font-size: 20px;
    text-align: center;
    color: rgb(83, 76, 76);
    font-weight: lighter;
}
.two{
    background: url(.//background-2.webp)no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;

}
.two h1{
    font-size: 5rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
    /* margin-top: 18rem; */
}
.three{
    background: url(./background-3.webp) no-repeat center/cover;
    height: 130vh;
    display: grid;
    justify-content:center;
    align-items: center; 
    font-family: sans-serif;

}
.three h1{
    font-size: 5rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-align: center;
    margin-top: 10rem;
    
}

.three a{
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40vw;
    padding: 10px 20px;
}
footer{
    height: 100vh;
    background-color: rgb(248, 248, 248);
    padding: 3.5rem 3.5rem 0 3.5rem;
}
footer h1{
    text-align: center;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.contact{
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 1fr 2fr 2fr;
    align-items: start;
    justify-content: space-around;
    gap: 4rem;
    column-gap: 5rem;
}
.contact-main{
    margin-top: 2rem;
}
.contact h2{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.group-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.info-contact{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}
.group-icon svg,.group-icon img{
    width: 30px;
}
.contact-main ul li,.contact-main p{
    font-size: 20px;
}
.phone p{
    margin-top: 20px;
}
.contact-main ul li{
    color: rgb(251, 84, 117);
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.contact-main a{
    text-decoration: none;
    color: black;
}
.contact-about{
    letter-spacing: 0.5px;
    line-height: 40px;
    font-size: 19px;
}
.email-group{
    display: flex;
    margin-top: 2rem;
}
.email-group img{
    width: 65px;
    margin-left: -60px;
}
.email-group input{
    width: 70%;
    padding: 20px 15px;
    border-radius:40px;
    font-size: 20px;
    border: 1px solid black;
    outline: none;
}
.margins{
    margin-top: 1.5rem;
}
.group-logo{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 2rem;
}
.group-logo img{
    cursor: pointer;
    height: 45px;
    width: 45px;
}
.group-logo img:hover{
    transform: scale(1.2);
}
.foot-logo{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    gap: 2rem;
}
.copyright .copy{
    background:linear-gradient(to right,rgb(223, 116, 255),rgb(255, 72, 130));
    padding: 1rem 0;
    text-align: center;
    color: white;
}
.headfont{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bolder;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.linkedicon{
    height: 37px !important;
    width: 37px !important;
}
.facebookicon{
    height: 39px !important;
    width: 39px !important;
}
.emailclick:hover{
    transform: scale(1.1);
}



@media (min-width: 1px) and (max-width: 768px) {

    /* Navbar */

    .navbar{
        height: 100px;
        position: fixed;
    }

    .one-inner{
        flex-direction: column;
        gap: 1rem;
        height: auto;
        padding: 1rem 0;
    }

    .one-inner img{
        width: 4rem;
    }

    .one-menu a{
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .one-main h1{
    font-size: 3rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-transform: uppercase;
    margin-top: 12rem;
    }
    .one-btn{
    display: flex;
    justify-content:center;
    gap: 2.5rem;
    }
    .one-btn img{
    width: 150px;
    margin-bottom: 16rem;
    }
    .feature{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        padding: 0 50px;
        gap: 3rem;
        margin:  50px;
        /* height: 100vh; */
    }
    .feature img{
    width: 70px;
    height: 70px;
    }
    .feature h6{
    margin-top: 1rem;
    font-size: 15px;
    text-align: center;
    color: rgb(83, 76, 76);
    font-weight: lighter;
    }
    .two h1{
        font-size: 2.5rem;
        text-align: center;
    }
     .three{
        height: auto;
        padding: 4rem 1rem;
    }

    .three h1{
        font-size: 2.5rem;
        margin-top: 4rem;
    }

    .three a{
        font-size: 18px;
        margin-left: 0;
        display: block;
        width: fit-content;
        margin: 2rem auto;
    }

     footer{
        height: auto;
        padding: 2rem 1rem;
    }

    footer h1{
        font-size: 28px;
    }

    .contact{
        grid-template-columns: 1fr;
        gap: 2rem;
        height: auto;
    }

    .contact h2{
        font-size: 22px;
    }

    .contact-main ul li,
    .contact-main p{
        font-size: 16px;
    }

    .contact-about{
        font-size: 16px;
        line-height: 28px;
    }



}